.ContContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 20, 57, 1);
    color: white;
    padding: 55px;
    h1{
        margin: 15px;
    }
    .formContacto{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 40%;
        .inpC{
            padding: 15px;
            font-size: 18px;
        }
    }
}

@media (max-width:860px) {
    .ContContacto{
        .formContacto{
            width: 80%;
            .Btn{
                width: 100%;
            }
        }
    }
}